h1{
    text-align: center;
    color: chartreuse;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(135deg, #3a1c71, #d76d77, #ffaf7b);
    /* background-color: #333333; */
    font-family: Arial, sans-serif;
}
input{
    width: 400px;
    font-size: 22px;
    margin: 10px auto;
    border:2px #3a1c71;
    background-color: rgb(151, 28, 106);
    color: yellow;
    border: none;
    display: block;
}
button{
    width: 120px;
    font-size: 22px;
    margin: 10px auto;
    border: none;
    background-color: rgb(151, 28, 106);
    display: block;
}
#list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
img{
    width: 200px;
    height: 250px;
    align-items: center;
    border: 5px solid black;
    margin: 10px;
}
figure{
    border: 2px solid black;
}
h2{
    text-align: center;
    font-size: 22px;
    width: 200px;
    font-family: monospace;
}
p{
    width: 200px;
    text-align: justify;
    margin-left: 50px auto;
}